.modal :global(.ant-modal-content) {
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  /* giảm nhẹ so với 2rem */
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label {
  font-size: 0.875rem;
  /* nhỏ hơn */
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

.modalForm .formGroup {
  margin-bottom: 16px;
  /* khoảng cách giữa các trường */
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  font-size: 0.95rem;
}

.saveButton {
  margin-top: 16px;
  /* tăng khoảng cách so với trường cuối */
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #6366f1;
  border: none;
  font-weight: 600;
}

.saveButton:hover {
  background-color: #4f46e5 !important;
}
