.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;

  min-width: 0;
  /* ⭐ RẤT QUAN TRỌNG */
  overflow-x: hidden;
  /* ⭐ NGĂN TABLE ĐẨY */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0 0 4px 0;
}

.subtitle {
  color: #6b7280;
  margin: 0;
  font-size: 0.95rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.searchBox {
  width: 300px;
  display: flex;
  align-items: space-between;
}

.codeCell {
  font-weight: 600;
  color: #1677ff;
  /* Màu chủ đạo Ant Design */
  cursor: pointer;
  transition: color 0.2s ease;
}

.codeCell:hover {
  color: #0958d9;
}

.totalRoomCell {
  text-align: center;
  font-weight: 500;
  color: #262626;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
  min-width: 40px;
}

.priceCell {
  font-weight: 600;
  color: #52c41a;
  /* xanh tiền */
}

.dateCell {
  color: #595959;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.viewBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.actions {
  cursor: pointer;
  color: #555;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  .tableWrapper {
    overflow-x: auto;
  }
}
