.modal :global(.ant-modal-content) {
  padding: 24px !important;
  border-radius: 12px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.guestCard {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.guestHeader {
  display: flex;
  font-size: 1rem;
}

.deleteIcon {
  color: #e74c3c;
  margin-left: auto;
}

.formContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 field = giãn đều */
  gap: 16px;
  width: 100%;
}

.formRow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formRow label {
  text-transform: capitalize;
}

.formRow :global(.ant-input),
.formRow :global(.ant-select),
.formRow :global(.ant-picker) {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  /* căn nút về phía bên phải */
  gap: 10px;
  /* khoảng cách giữa 2 nút */
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .formContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .formContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .formContainer {
    grid-template-columns: 1fr;
  }
}
