.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}

.header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.content {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  align-items: flex-start;
}

.deleteBtn {
  background-color: #bc3838;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%; /* Child will take up 100% of the parent's content area */
}

.infoBox {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoItem input,
.infoItem textarea {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.saveBtn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1677ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.deleteBtn {
  background-color: #bc3838;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%; /* Child will take up 100% of the parent's content area */
}

@media (max-width: 1024px) {
  .main {
    padding: 40px 40px;
  }

  .content {
    flex-direction: column;
    gap: 30px;
  }

  .rightColumn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 20px 16px;
  }

  .content {
    margin-top: 30px;
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 16px 12px;
  }

  .content {
    margin-top: 20px;
    gap: 20px;
  }
}
