.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 48px;
}

.form :global(.ant-form-item-label > label) {
  font-weight: 500;
  font-size: 1rem;
  color: #555;
}

.input {
  background-color: #f7f8fa !important;
  border: none !important;
  border-radius: 6px;
  height: 40px;
  font-size: 1.1rem;
}

.submitButton {
  background-color: #6366f1 !important;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  height: 42px;
  transition: 0.3s ease;
}

.submitButton:hover {
  background-color: #4f46e5 !important;
}
