.sidebar {
  width: 16rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  text-align: left;
  font-size: 0.95rem;
  color: #8b5d74;
  /* chữ hồng tím nhẹ */
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.menuItem:hover {
  background-color: #ffe4ec;
  color: #ff6b6b;
}

.logoutButton {
  width: 100%;
}

.logoutButton:hover {
  background-color: #ffe4e6;
  color: #e11d48;
}

.active {
  background-color: #ffe4ec;
  color: #ff6b6b;
  font-weight: 500;
}

.icon {
  color: #ff6b6b;
}

@media (max-width: 768px) {
  .sidebar {
    width: 95%;
    padding: 1rem;
    position: static;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: auto;
  }

  .menuItem {
    flex: 0 0 auto;
    width: auto;
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }
}
