.modalHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bookingId {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
}

.codeCell {
  font-weight: 600;
  color: #1677ff; /* Màu chủ đạo Ant Design */
  cursor: pointer;
  transition: color 0.2s ease;
}

.codeCell:hover {
  color: #0958d9;
}

.priceCell {
  font-weight: 600;
  color: #35a000; /* xanh tiền */
}

.statusCell {
  font-size: 1rem;
}

.dateCell {
  color: #595959;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}


.table :global(.ant-table-thead > tr > th) {
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.table :global(.ant-table-tbody > tr:hover > td) {
  background-color: #f5f7ff;
}
