.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
}

.header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.searchBox {
  width: 300px;
  display: flex;
  align-items: space-between;
}

.addBtn {
  align-items: center;
  background-color: #10835c;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-left: 8px;
}

.available {
  background-color: #10b981;
  border-radius: 9999px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
}

.booked {
  border-radius: 9999px;
  padding: 8px;
  background-color: #555;
  color: #ffffff;

}

.maintenance {
  border-radius: 9999px;
  padding: 8px;
  background-color: #a02e2e;
  color: #ffffff;
}

.desc {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}