.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0 0 4px 0;
}

.subtitle {
  color: #6b7280;
  margin: 0;
  font-size: 0.95rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.searchBox {
  width: 300px;
  display: flex;
  align-items: space-between;
  margin-right: 12px;
}

.addBtn {
  align-items: center;
  background-color: #10835c;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-left: 8px;
}
.available {
  background-color: #10b981;
  border-radius: 9999px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
}
.booked {
  border-radius: 9999px;
  padding: 8px;
  background-color: #555;
  color: #ffffff;
}
.maintenance {
  border-radius: 9999px;
  padding: 8px;
  background-color: #a02e2e;
  color: #ffffff;
}
.desc {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
