.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}

h3{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0 0 4px 0;
}

.subtitle {
  color: #6b7280;
  margin: 0;
  font-size: 0.95rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.statsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.statCard {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  border-left: 5px solid #6366f1;
}

.statLabel {
  font-size: 15px;
  color: #6b7280;
  font-weight: 500;
}

.statValue {
  font-size: 28px;
  font-weight: 700;
  margin-top: 6px;
  color: #111827;
}

.chartsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.chartCard {
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  border: solid 1px #7d7d7d;
  padding: 1.5rem;
}

.chartLegend {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendDot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}

.legendLabel {
  font-size: 0.875rem;
  color: #4b5563;
}

.tablesSection {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.tableTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableCard {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  border: solid 1px #7d7d7d;
}

.tableTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.codeCell {
  font-weight: 600;
  color: #1677ff; /* Màu chủ đạo Ant Design */
  cursor: pointer;
  transition: color 0.2s ease;
}

.nameCell {
  font-weight: 600;
  color: #111827;
}

.emailCell {
  color: #374151;
  font-size: 0.9rem;
}

.phoneCell {
  color: #1f2937;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.3px;
  white-space: nowrap;
}

.dateCell {
  color: #6b7280;
  font-size: 0.85rem;
  font-weight: bold;
}
